<!DOCTYPE html>
<html>
<head>
  <title>Puddy</title>
  <%= stylesheet_link_tag    "puddy/application", :media => "all" %>
  <%= javascript_include_tag "puddy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
