<h1>All Account Stats</h1>

<h2>Transactions Total</h2>
<p>
  <%= successful_transactions_count %> transactions processed for a total of:
  <%= number_with_delimiter successful_transactions_total %>.
</p>
